# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Setup Docker
      uses: docker/setup-buildx-action@v3

    - name: Start Docker
      run: |
        sudo systemctl start docker
        docker info

    - name: Install .NET HTTPS Development Certificate
      # if: matrix.os == 'ubuntu-latest'
      run: |
        dotnet dev-certs https --clean
        dotnet dev-certs https --trust
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      env:
        DOTNET_ENVIRONMENT: Development
        ASPNETCORE_ENVIRONMENT: Development
        ASPIRE_ALLOW_UNSECURE_TRANSPORT: true
      run: dotnet test --no-build --verbosity normal
