# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Setup Docker
      uses: docker/setup-buildx-action@v3

    - name: Start Docker
      run: |
        sudo systemctl start docker
        docker info
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      env:
        DOTNET_ENVIRONMENT: Development
        ASPNETCORE_ENVIRONMENT: Development
        PROJECTIFY_USE_HTTP_ENDPOINTS: 1
        ASPIRE_ALLOW_UNSECURE_TRANSPORT: true
      run: dotnet test --logger "console;verbosity=detailed"
